.adlist > a {
  background-color: var(--color5);
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  padding: 10px 0;
  display: block;
  text-align: center;
  width: 50%;
  margin: auto;
  border-radius: 20px;
  transition: all 0.5s;
}
.adlist > a:hover {
  width: 60%;
  transition: all 0.5s;
}
.adlist {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media screen and (max-width: 1000px) {
.adlist > a {
width: 100%;
}
}