:root{
  --color_adv:rgba(63, 63, 63, 0.2);
  --color_adv_shadow:rgba(255, 255, 255, 0.5);
}
[data-theme="dark"]{
  --color_adv:rgba(83, 83, 83, 0.5);
  --color_adv_shadow:rgba(0, 0, 0, 0.5);

}
.avdlist>a {
  background-color: var(--color_adv);
  box-shadow: -10px -10px 15px var(--color_adv_shadow),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  display: grid;
  grid-template-columns: 1fr 8fr;
  text-align: center;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  transition: all 0.5s;
  padding: 5px;
}

.semQ {
  padding: 10px 0;
  border-radius: 10px 0 0 10px;
  font-size: 20px;
  border-right: 1px solid black;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.nameQ {
  padding: 10px 0;
}

.avdlist>a:hover {
  width: 55%;
  transition: all 0.5s;
}

.avdlist {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media screen and (max-width: 1000px) {
  .avdlist>a {
    width: 100%;
  }

  .avdlist>a:hover {
    width: 100%;
    transition: all 0.5s;
    box-shadow: 0 0 10px 1px black;
  }
}