div.calender{
    text-align: center;
    margin-top: 25px;
}
div.month{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
    width: 80%;
    margin: auto;
    border: 2px solid black;
    padding: 5px;
    border-radius: 8px;
}
div.month>div{
    background-color: rgb(149, 171, 190);
    padding: 10px;
    border-radius: 10px;
}
div.inmonth{
    grid-column: 1/8;
    background-color: rgb(223, 68, 21) !important ;
}   
div.empty{
    background-color: black !important;
}
.calendescribe{
    grid-column: 1/8;
    text-align: left;
    padding-left: 20px !important;
}
.holiday{
    background-color: red !important;
}