.contactwholebody {
  border: 4px solid rgb(139, 139, 139);
  padding: 20px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 3.5fr 2fr;
  background-image: url("../Image/erc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Alfa Slab One", cursive;
  font-size: 250%;
  line-height: 50px;
}
.contactimage {
  text-align: center;
}
.contactimage > img {
  width: 90%;
  border-bottom: rgb(204, 204, 204) solid 5px;
  border-radius: 20px;
}
.maincontactbody {
  text-align: center;
}
.centervertcalandhorizontal {
  padding: 90px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.socialmedialinkimg{
  display: grid;
  grid-template-columns: auto auto;
  width: 50%;
  margin-top: 5px;
  margin: auto;
  gap: 0;
}
.socialmedialinkimg>a{
  width: 75px;
}
img{
  width: 100%;
}