.landingfirst {
  /* background: linear-gradient(to right, rgba(39, 37, 37, 0.651), rgba(0, 0, 0, 0)); */
  background-image: url("/Image/nep.jpeg");
  /* background: url("/Image/nep.jpeg"); */
  background-size: cover;
  /* background: linear-gradient(to right, rgba(0, 0, 0, 0.521), rgba(255, 0, 0, 0.548)); */
}
.landingsecond {
  background: linear-gradient(
    to right,
    rgba(248, 0, 0, 0.8),
    rgba(51, 49, 202, 0.6),
    rgba(255, 255, 255, 0)
  );
}
.festivetext {
    font-size: 35px;
    color: aliceblue;
    text-align: center;
}
