
.fofbody{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    text-align: center;
    align-items: center;
}
.fofcont{
    height: 10%;
    width: 15%;
    position: relative;
    top: 30%;
    line-height: 25px;
    margin: auto;
}
.fofimg{
    width: 60%;
    margin: auto;

}
.fofh{
    font-size: 25px;
}
.fofimg>img{
    width: 100%;
    height: auto;
}
.fofbutton{
    border: 1px solid black;
    padding: 2px 5px;
    border-radius: 4px;
    background-color: gray;
}