div.footer{
    margin-top: 10vh;
    background-color: #354f52;
}
.copyright{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    color: #cad2c5;
}
.g676{
    color: #cad2c5;

}