.fourone {
  display: grid;
  gap: 20px;
  grid-template-columns: 12fr 4fr;
}
.tworow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.card {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 10px;
  background-color: #535C67 ;
  color: #CDCFD2;
  border-radius: 15px;
  height: fit-content;
}
.card:hover {
  box-shadow: black 3px 3px 10px 1px;
  transform: scale(1.05);
}
.cardimg {
  border-radius: 8px;
  width: 100%;
  margin: auto;
}
.carddetail {
  text-align: center;
}
.carddetail > h3 {
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 720px){
  .fourone{
    grid-template-columns: auto;
    gap: 10px;
  }
  .tworow{
    grid-template-columns: auto;
    padding: 10px;
  }
}