.fourone {
  display: grid;
  grid-template-columns: 12fr 4fr;
}
.tworow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.card {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 10px;
  background-color: rgb(133, 133, 133);
  border-radius: 15px;
  height: fit-content;
}
.card:hover {
  box-shadow: black 3px 3px 10px 1px;
  transform: scale(1.05);
}
.cardimg {
  border-radius: 8px;
  width: 100%;
  margin: auto;
}
.carddetail {
  text-align: center;
}
.carddetail > h3 {
  width: 100%;
  text-align: center;
}
