body{
    background-color: var(--color3);
    margin: 0;
}
.nomargin{
    margin: 0;
}
a{
    color: black;
    text-decoration: none;
}
img{
    width: 100%;
}
.mainbody{
    width: 90%;
    margin: auto;
    margin-top: 2%;
}
.back{
    height: 30px;
    width: 80%;
    margin: auto;
}
.back>a>img{
    width: auto;
    height: 100%;
}
.SEO{
    display: none;
}