:root {
  --image-height: 200px
}
.landing_view{
  height: 100vh;
}
.indextext {
  text-align: center;
  margin-top: 20vh;
}

.texthead {
  font-size: 40px;
  width: 80%;
  margin: auto;
  font-family: "Gowun Batang", serif;
  font-style: normal;
}

.texthead2 {
  margin-top: 10px;
  font-size: 18px;

}
.landing_two{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.halfboxindex {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  background-color: rgba(143, 143, 143, 0.705);
  margin-top: var(--image-height);
  padding: 50px 20px;
  border-radius: 20px;
  text-align: justify;
}

.imageimage2 {
  position: relative;
}

.indeximage2 {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.imageindex1 {
  text-align: center;
  padding: 30px 0;
  font-size: 30px;
  width: 60%;
  margin: auto;
}

.imageindex3 {
  padding: 10px;
  display: grid;
  gap: 20px;
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.index3_1,
.index3_2,
.index3_3 {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
}
@media screen and (max-width:720px) {
  .texthead{
    font-size: 2rem;
    width: 90%;
    margin-top: 0px;
  }
  .halfboxindex{
  grid-template-columns: 1fr;
    
  }
  .imageimage2{
    display: none;
  }
  .imageindex1{
    width: 90%;
  }
}