.lib_mock {
    width: 70%;
}

.library_main_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    gap: 5%;
    margin: auto;
}

.book_cont {
    background-color: rgb(143, 143, 143);
    padding: 5px;
}

.book_img {
    text-align: center;
    padding: 10%;
    aspect-ratio: 1/1;
    background-color: rgb(129, 129, 129);
    aspect-ratio: 1 / 1; /* makes it a square */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book_img img {
    height: 100%;
    width: auto;
    object-fit: cover;
}
.book_title,.book_faculty{
    margin-top: 5px;
}
.book_title{
    font-weight: 900;
}