.librarybody{
    display: grid;
    background-color: rgb(182, 182, 182);
    padding: 30px;
    gap: 80px;
    grid-template-columns: repeat(5, 1fr);
}
.libbname{
    text-align: center;
    font-size: 18px;
}
.libitem{
    background-color: rgb(156, 166, 175);
    padding: 10px;
}