.list {
  list-style: none; /* Remove default bullets */
  padding: 0;
  margin: 0;
  text-align: center; /* Center-align links */
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
}

.list li {
  margin: 10px 0; /* Space between links */
}

.list a {
  text-decoration: none; /* Remove underline */
  color: #333; /* Default link color */
  background-color: rgb(82, 82, 82);
  color: #000; /* Hover text color */
  width: 50%;
  font-weight: 500; /* Link weight */
  padding: 5px 15px;
  display: inline-block; /* Allow for hover effect */
  border-radius: 6px; /* Subtle rounded corners */
  transition: all 0.3s ease-in-out; /* Smooth hover transition */
}

.list a:hover {
  background-color: #5e5e5e; /* Hover color */
  color: #000; /* Hover text color */
  width: 60%;
}
