.notescontainer{
    margin-top: 10px;
    
}
.notescontainer>ol{
    display: grid;
    gap: 10px;
}
.notescontainer>ol,.notescontainer>ol>li>ul{
    list-style: none;
}
.notescontainer>ol>li{
    font-size:30px;
    background-color: #919191;
    border-radius: 20px;
    padding: 20px;
}
.notescontainer>ol>li>ul>li{
    font-size: 22px;
    margin-top: 20px;
}
.notescontainer>ol>li>ul>li>p{
    margin: 0;
    font-size: 18px;
    margin-left: 20px;
}