.notesbody {
  background-color: #8eaca0;
  font-family: "Young Serif", serif;
  padding: 10px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 25px;
}
.noteppppp{
  font-weight: 100;
  font-size: 15px;
  margin: 0;
}