.imgembedd {
  width: 75%;
  border-radius: 20px;
  margin: auto;
}
.imgembedd > img {
  border: 2px solid var(--color10);
  border-radius: 20px;
}
.labele {
  background-color: rgb(255, 255, 255);
  width: 55%;
  margin: auto;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.labele > select {
  background-color: rgb(138, 138, 138);
  font-size: 18px;
  padding: 20px;
  border-radius: 5px;
  color: white;
}
.semselector {
  background-color: rgb(142, 148, 175);
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 20px 10px;
  width: 50%;
  margin: auto;

  box-shadow: rgba(87, 87, 100, 0.25) 0px 50px 100px -20px,
    rgba(187, 186, 186, 0.3) 0px 30px 60px -30px,
    rgba(205, 210, 214, 0.35) 0px -2px 6px 0px inset;

  border-radius: 10px;
  margin-top: 10px;
}
.facgrid2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}
.facgrid2 > button {
  background-color: rgb(185, 185, 185);
  border: 0;
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.facgrid1 {
  align-content: center;
  text-align: center;
  font-size: large;
}
@media only screen and (max-width:720px){
  .semselector{
    width: 90%;
  }
  .imgembedd{
    width: 95%;
  }
}