.pdfembedd {
  margin: auto;
  text-align: center;
}
.embeddedpdf {
  width: 80%;
  border-radius: 20px;
  height: 110vh;
}
div.labele {
  background-color: rgb(107, 107, 107);
  width: 50%;
  margin: auto;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
}
#pdfSelector {
  background-color: rgb(117, 117, 245);
  padding: 15px;
  font-size: 18px;
  border-radius: 4px;
  border: 0px;
  box-shadow: 2px 2px 10px 2px black;
  color: white;
}
#pdfSelector:hover {
  background-color: rgb(154, 154, 248);
}
img#pastpngpaper {
  width: 80%;
  border-radius: 20px;
  border: 3px solid rgb(37, 57, 70);
}
img.embeddedimg {
  width: 70% !important;
  border: 2px solid rgb(52, 79, 121);
  border-radius: 15px;
}
img.embeddedimg:hover {
  box-shadow: black 0px 0px 50px 1px;
}
