.qbankbody{
    background-color: rgba(95, 161, 99, 0.479);
    padding: 20px;
    border-radius: 20px;
}
.qbankbody>ol>li{
    font-size: 25px;
    font-weight: 900;
    text-decoration: underline;
    margin-bottom: 10px;
}
.qbankbody>ol>ul>li{
    font-size: 17px;
    font-weight: 900;
    
}