.questionmain {
  margin-top: 30px;
  display: grid;
  gap: 25px;
}
.questionchapter {
  background-color: rgb(146, 162, 236);
  padding: 20px;
  border-radius: 20px;
}
.questionheader {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}
.questionquestion{
  position: relative;
}
ol.questionquestion > p::before {
  content: "→";
  position: absolute;
  left: 15px;
}
hr.purple {
  border: rgb(209, 55, 8) 1px solid;
}
ol.questionquestion > li {
  font-size: 20px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: bolder;
}