.probsoll{
    width: 90%;
    margin: auto;
    padding: 20px;
}
.questionbox{
    background-color: gray;
    padding: 20px;

}
.answerbox{
    text-align: center;
}
.answerbox>img{
    width: 50%;
    margin-top: 10px;
}
.answerbox{
    display: none;
}
.DRWQues{
    width: 50%;
    border-radius: 10px;
}
.sdsds{
text-align: center;
}
.showans{
    background-color: rgb(77, 77, 77);
    width: fit-content;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.DRWsln{
    background-color: white;
    border-radius: 10px;
}

.DRWsln:hover{
    position: relative;
    width: 100%;
}
