table {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #222; 
  color: #ebcec0; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
  border: 1px solid #333; 
}

thead {
  background-color: #636363;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  border-radius: 10px 10px 0 0; 
}

tbody tr {
  background-color: #2c2c2c;
}

td {
  padding: 10px; /* Consistent padding for all cells */
  border-bottom: 1px solid #333;
  text-align: left;
  text-align: center;
}

td:last-child {
  border-right: 1px solid #333; /* Right border for the last cell */
}

tr:hover td {
  background-color: #444; /* Even darker shade on hover for emphasis */
}

/* Optional additional styles */

tr.highlight {
  background-color: #555; /* Highlight specific rows with a slightly lighter dark shade */
}

td:first-child {
  border-left: 1px solid #333; /* Left border for the first cell */
}

/* Additional styles for specific elements or states can be added here */
thead>tr:first-child>td:last-child{
  border-radius: 0px 10px 0 0;
}
thead>tr:first-child>td:first-child{
  border-radius: 10px 0 0 0;
}

.donet{
  background-color: red;
}
.greeent{
  background-color: #138A36;
}