div.rankingtable>table>*>tr>td{
    border: 1px solid black;
}
div.rankingtable>table{
    border-collapse: collapse;
}
.rankingtable{
    width: 90%;
    margin: auto;
}
.t079{
    background: #5e5e5e;
}
thead{
    background-color: rgb(95, 95, 177);
}