.topbar {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 20px;
  width: 90%;
  margin: auto;
  gap: 10px;
  font-family: "Yatra One", cursive;
}
.topbarlogo {
  width: 62%;
}
.baritem:not(.topbaraimg) {
  margin: auto;
}
.baritem {
  position: relative;
}
.topbara:not(.topbaraimg) {
  text-align: center;
}
a.topbara:not(.topbaraimg)::before {
  content: "";
  background-color: rgb(97, 97, 97);
  width: 50%;
  position: absolute;
  height: 2px;
  margin: auto;
  left: 25%;
  border-radius: 50%;
  bottom: -1px;
  scale: 0;
  transition: 0.4s;
}
a.topbara:not(.topbaraimg, .topbara9):hover::before {
  transition: 0.4s;
  scale: 1;
}
@media screen and (max-width: 720px) {
  .topbar{
    grid-template-columns: auto;
  }
  .bitem1{
    text-align: center;
  }
}
.toopadministration{
  text-align: right;
  padding: 0 20px;
}
.bitem9{
  background-color: rgba(38, 90, 139, 0.815);
  text-align: center;
  border-radius: 5px;
}
.bitem9:hover{
  background-color: rgb(38, 90, 139);

}