.flexcont {
  display: flex;
  width: 1000px;
  height: 100px;
}
.itemm {
  background-color: blue;
}
.itemm{
    flex-grow: 1;
}
.item1{
    background-color: green;
}
.item3 {
  flex-shrink: 5;
  background-color: red;
}
.item4{
    background-color: yellow;
}
.item6{
    background-color: yellow;
}
.item8{
    background-color: yellow;
}
.item10{
    background-color: yellow;
}