@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
div.main {
  width: 85%;
  border-radius: 15px;
  text-align: left;
  padding-left: 15px;
  font-size: 50px;
}
img.top_logo {
  height: 100px;
}
body {
  background-color: rgb(177, 223, 171);
}
div.nav {
  width: 100%;
}
ul {
  list-style-type: none;
}
ul.nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li.nav {
  float: left;
  width: 25%;
}
li.nav a.nav {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 1px solid black;
}
li.nav a.nav:hover {
  background-color: #111;
}
div.beta {
  background-color: rgb(133, 196, 255);
  border: 1px solid #000000;
  padding: 10px;
  font-size: 20px;
  color: black;
  border-radius: 15px;
  transition: 0.5s;
}
div.beta:hover {
  border: 0px;
  box-shadow: #000000 0px 0px 15px 1px;
  background-color: rgb(147, 194, 238);
  transition: 0.5s;
}
a {
  text-decoration: none;
  color: #000000;
}
div.ioe {
  border: 1px rgb(0, 0, 0) solid;
  background-color: rgb(189, 189, 189);
}
td {
  border: 1px black solid;
  text-align: center;
}
div.text {
  width: 90%;
}
div.back {
  width: 80%;
  text-align: left;
}
img.backk {
  height: 20px;
}
li.active {
  background-color: rgb(111, 154, 219);
}
img.logoooos {
  height: 40px;
}
img.Ulogo {
  height: 125px;
  position: absolute;
  left: 320px;
}
.dark-mode {
  background-color: black;
  color: white;
}
img.slogoo {
  height: 30px;
}
.black_boarder {
  border: black solid 2px;
  width: 70%;
}
.sizee {
  width: auto;
  height: 170px;
  box-shadow: #000000 0px 0px 9px 2px;
  transition: all 1s;
}
div.boooook {
  width: 10%;
  position: absolute;
}
div.booooook {
  width: 40%;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Marcellus SC', serif;
  font-weight: bold;
  font-size: 17px;
}
nav.inn {
  width: 95%;
  text-align: left;
}
@media all and (max-width: 1200px) {
  div.bo2 {
    width: fit-content;
    position: relative;
  }
}
@media all and (max-width: 880px) {
  div.detailss {
    position: relative;
  }
  div.bo2 {
    position: relative;
  }
}
form {
  width: fit-content;
  background-color: rgb(187, 175, 175);
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: #000000 0px 0px 30px 4px;
  border-radius: 10px;
  font-size: 18px;
}
input {
  border-radius: 5px;
  font-size: 18px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Crimson Text", serif;
}
div.descriptionb {
  text-align: justify;
  font-size: 20px;
  font-weight: 10;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Patrick Hand", cursive;
  background-color: #ffefdd;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}
div.dpad {
  padding-bottom: 10px;
}
div.wrap90 {
  width: 60%;
  text-align: left;
}
hr{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 200%;
}
div.detailss{
  background-color: #b1dfab;
  background-image: url("https://www.transparenttextures.com/patterns/buried.png");
}
div.card{
  background-color: #8ed198;
  background-image: url("https://www.transparenttextures.com/patterns/hexabump.png");
  box-shadow: #000000 3px 3px 10px 2px;
  border: #000000 solid 0px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}
div.wrap91 {
  width: 40%;
  position: relative;
  left: 50px;
}
img.cardimg{
  width: 98%;
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
}
div.card:hover{
  box-shadow: #000000 4px 4px 11px 3px;
  border: 0px;
}
div.bo2{
  background-color: #2e632a;
  background-image: url("https://www.transparenttextures.com/patterns/football-no-lines.png");
  padding-bottom: 10px;
}
progress{
  width: 105%;
  height: 20px;
}