* {
  transition: all 500ms;
}
body {
  background-color: #333333;
}
div.navbar {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
div.toplogo {
  height: 100px;
  padding: 10px;
}
img.toplogo {
  height: 100%;
}
a {
  color: black;
  text-decoration: none;
}
div.navbar > a > div {
  padding: 10px 0px;
  background-color: #666666;
  text-align: center;
  border: 1px solid black;
}
img.logo {
  height: 100%;
}
.item1 {
  border-radius: 20px 0px 0px 20px;
}
.item5 {
  border-radius: 0px 20px 20px 0px;
}
div.bcon {
  border: solid 3px black;
  margin: 10px;
  width: 80%;
  background-color: #262626;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  padding-bottom: 20px;
  border-radius: 20px;
  color: white;
}
img.book_cover {
  height: 160px;
  border-radius: 10px;
}
img.book_cover:hover {
  box-shadow: black 0px 10px 15px 2px;
  transform: translateY(-10px);
}
div.book_overview{
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 10px 5%;
  text-align: left;
  gap: 1%;
  padding: 10px;
}
div.book_poster{
padding: 15px;
border: 2px solid black;
margin: auto;
border-radius: 20px;
}
div.book_calc{
padding: 20px;
padding-top: 0;
font-size: 20px;
border: 2px solid black;
border-radius: 20px;
}
progress{
  width: 100%;
}