@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');
/*Footer*/
@import url('style/footer.css');
@import url('style/general.css');
@import url('style/navbar.css');
  div.mainbody{
    width: 95%;
    margin: auto;
  }
.mainhead{
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 0;
}
.inter76{
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 80%;
  margin: auto;
  margin-top: 2px;
  gap: 5px;
}
.text56{
  text-align: left;
  margin: auto;
  margin-left: 0;
}
.img56{
  width: 100%;
  height: auto;
}
.logo56{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  gap: 5px;
  margin: auto;
  margin-top: 20px;
}
.code55{
  width: 95%;
  margin: auto;
}
.code-container {
  background-color: #f1f1f1;
  padding: 1px;
}
.question55{
  padding: 10px;
  background-color: #7a7a7a;
  border-radius: 20px 20px 0 0;
}
.code {
  font-family: "Courier New", monospace;
  font-size: 14px;
  color: #333;
  white-space: pre-wrap;
}
.output55{
  padding: 10px;
  background-color: #7a7a7a;
  border-radius: 0 0 20px 20px;
}
div.fourone{
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
}
div.cardholder{
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 20px;
  margin-top: 25px;
}
.sidebar{
  border-left: solid black 1px;
}
a.card{
  display: grid;
  grid-template-columns: 3fr 5fr;
  padding: 10px;
  background-color: #7a7a7a;
  transition: all 0.5s;
  border-radius: 10px;
  height: fit-content;
}
a.card:hover{
  transition: all 0.5s;
  box-shadow: black 0 0 21px 2px;
  transform: scale(1.02)
}
img.card{
  width: 100%;
  border-radius: 10px;
}
a.card>div{
  padding: 10px;
  font-size: 20px;
}
  img.backimg{
    height: 50px;
    width: auto;
}
@media screen and (max-width: 700px) {
  div.topbar{ 
    grid-template-columns: 1fr;
  }
  div.cardholder{
    grid-template-columns: 1fr;
  }
  .mainhead{
    font-size: 20px;  
  }
  div.item1{
    text-align: center;
  }
  div.fourone{
    grid-template-columns: 1fr;
  }
  .sidebar{
    border: none;
    border-top: 1px solid black;
    margin: auto;
    width: 100%;
    text-align: center;
  }
}
::-webkit-scrollbar{
  background-color: rgb(129, 129, 129);
    border-radius: 50px;
    box-shadow: inset black 2px 2px 10px 2px;
  }
::-webkit-scrollbar-thumb{
  border-radius: 50px;
  box-shadow: inset rgb(189, 189, 189) -1px -1px 8px 1px;
  background-color: rgb(66, 66, 66);

} 
.contactbody{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.contactleft{
  text-align: center;
}
.contactleft>*{
  margin: 1px;
}
li>a{
  text-decoration: underline;
  font-family: 'Lora', serif;
  font-size: 16px;
}
.questioncardc{
  display: grid;
  padding-top: 20px;
  grid-template-columns: 1fr;
  }
.questioncardin{
  background-color: rgb(148, 148, 148);
  padding: 20px;
  border-radius: 30px;
  box-shadow: inset black -2px -2px 10px 3px;
  font-family: 'Chakra Petch', sans-serif;
  display: block;
  transition: all 1s;
  font-size: 20px;
  width: 90%;
  }
.questioncardin:hover{
  box-shadow: inset rgb(68, 68, 68) -2px -2px 10px 3px;
  transition: all 1s;
}