body {
  background: url(Image/youtube.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.youtubecard {
  background-color: rgba(46, 46, 46, 0.8);
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 10px;
  border-radius: 20px;
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
  box-shadow: inset black 0 0 10px 1px;
  border: rgb(71, 71, 71) 2px solid;
}
.textcardtubeimg {
  border-radius: 10px;
  overflow: hidden;
}
#topbar {
  background-color: gray;
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
  padding-top: 5px;
}
body {
  margin-top: 0;
}
.youtubecard:hover {
  scale: 1.05;
}
.warningtop {
  display: none;
}
.textcardtube {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}
.textcardtube > * {
  margin: 0;
}
