div.copyrighttab{
    background-color: rgb(83, 83, 83);
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: rgb(224, 224, 224);
    width: 100%;
}
footer{
  margin-top: 10px;
}