@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap");
body {
  background-color: rgb(53, 53, 53);
  color: rgb(44, 44, 24);
  font-family: "Dongle", sans-serif;
}
div.container {
  width: 50%;
  background-color: rgba(117, 117, 117, 0.534);
  margin: auto;
  padding: 20px;
  border-radius: 20px;
}
div.header {
  font-size: 55px;
  text-align: center;
  background-color: rgba(163, 179, 192, 0.705);
  border-radius: 20px;
  padding: 1px;
}
div.formulas {
  background-color: rgba(150, 150, 150, 0.5);
  font-size: 30px;
  margin-top: 10px;
}
.MathJax_Display {
  margin: 0;
}
div.sheader {
  font-size: 35px;
  text-align: center;
  background-color: rgba(120, 223, 72, 0.158);
  padding: 10px;
  margin-bottom: 10px;
}
div.dd77{
  display: none ;
}