@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");
* {
  font-family: "Alkatra", cursive;
}
body {
  background-color: rgb(204, 204, 204);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("1.jpg");
  margin: 0;
  margin-top: 10px;
}
a {
  color: black;
  text-decoration: none;
}
div.topbar {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  gap: 5px;
  font-size: 18px;
}
div.topbar > * {
  margin: auto;
}
div.topbar > a:not(.imgbar, .inquire) {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(202, 202, 202, 0.5);
  border-radius: 10px;
}
div.topbar > a:not(.imgbar, .inquire):hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: antiquewhite;
}
.inquire {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(110, 2, 110);
  color: antiquewhite;
  border-radius: 10px 0 0 10px;
}
img {
  width: 90%;
  height: auto;
  margin: auto;
}
.bar45 {
  padding: 0px;
}
.inquire:hover {
  background-color: rgb(73, 1, 73);
}
.stamp{
  height: 20vh;
  width: auto;
  position: relative;
  left: 5%;
}
.missionst {
  background-color: #4f4f4f62;
  background-image: url("noise.png");
  padding: 2% 5%;
  border-radius: 20px;
  width: 50%;
  font-size: 25px;
  text-align: justify;
  position: relative;
  left: 2%;
}
div.people_cont{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
div.people_cont>*:not(.dd45){
  display: flex;
  justify-content: center;
  align-items: center;
}
.dd45{
  text-align: center;
  margin-top: 20px;
}
footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  background-color: #4f4f4f62;
  padding: 5px;
}
.customer_cont{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
  margin: auto;
  padding: 20px;
  gap: 5px;
  background-color: rgba(102, 102, 102, 0.226);
  border-radius: 15px;
}
.customer_cont>div{
  border: 1px solid black;
  padding: 2%;
  text-align: center;
}
.customer_cont>div>p{
  text-align: justify;
}
.smallerimg{
  width: 80%;
  margin: auto;
}